body{
    font-family: "Oswald", sans-serif;
}
/* .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-12, .col-sm-1, .col-sm-10{
    border: 1px solid black;
}*/

a href{
    text-decoration: none;
    
}
.r1{
    text-align: center;
}
.r2{
    text-align: center;
    height: 50px;
}
.r3{
    height: 525px;
}
.r4{
    text-align: center;
}
.r5{
    text-align: center;
    height: 300px;
}
.r7{
    height: 350px;
    background-color: #f7f7f7;
}
.r7 .col-sm-2{
    padding: 20px;
}
.r7 .col-sm-4{
    padding: 20px;
}
.footer1{
    padding: 20px;
    padding-left: 80px;
}
.r5 .row{
    padding: 10px;
    height: 300px;
}
.r5 .row .col-sm-3{
    padding: 10px;
}
.r5 .row .col-sm-3 img{
    height: 220px;
}
.r5 .row .col-sm-3 h6{
    padding-top: 10px;
}

.r1c2{
    padding: 10px;
}
.r2c2{
    padding: 10px;
}
.r2c2 button{
    font-size: 20px;
    border: transparent;
    background: transparent;
    padding-left: 50px;
    color: black;
}

.r2c2 button:hover {
    color: #FF69B4;
}
.navi:hover{
    color: #FF69B4;
}
.r6c1 img{
    height: 95px;
}
.Mainlogo{
    height: 70px;
}
.nlogo{
    padding: 20px;
}
.nlogo i{
font-size:20px;
padding-left: 30px;
}

.logoss i{
    padding-right: 25px;
}

.card-img-top{
    height: 50%;
    margin-top:20px;
}

.r10 {
    position: relative;
    background: url('row.png') no-repeat bottom center/cover;
    height: 500px;
    padding-top: 350px;
}

.r10 .col-sm-4 {
    position: relative;

}

.blue-button {
    background-color: #FF69B4;
    color: white;
    border: none;
    border-radius: 50px; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 35%;
}

.blue-button:hover {
    background-color: #be4c85;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-body {
    padding: 20px;
}
